{% extends "base.njk" %}
{% block styles %}
  <link rel="stylesheet" href="/css/reveal-post.css">
  <link rel="stylesheet" href="/css/reveal/reset.css">
  <link rel="stylesheet" href="/css/reveal/reveal.css">
  <link rel="stylesheet" href="/css/reveal/theme/white.css">
{% endblock %}

{% block mainContent %}
  {# TODO - create blocks for nav and slides #}
  <section class="revel-post-container">
    <nav class="post-navigation">
      {% block slidesNavigation %}{% endblock %}
    </nav>
    <section class="post-content">
      <div class="reveal">
        <div class="slides">
          {% block slides %}{% endblock %}
        </div>
      </div>
    </section>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/js/reveal/reveal.js"></script>
  <script src="/js/reveal/plugin/markdown/markdown.js"></script>
  <script src="/js/svg/svg.min.js"></script>
  <script>
    Reveal.initialize({
      hash: true,
      // Learn about plugins: https://revealjs.com/plugins/
      plugins: [RevealMarkdown]
    })
  </script
{% endblock %}