{% extends "base.njk" %}
{% block styles %}
  <link rel="stylesheet" href="/css/simple-page.css">
{% endblock %}

{% block mainContent %}
  <section class="page-content">
    <h1>{{ mainText }}</h1>
    {% block pageContent %}{% endblock %}
  </section>
{% endblock %}