---
title: Partitioning
description: How can we divide data into smaller chunks
---
{% extends "reveal-post.njk" %}

{% block slides %}
  <section id="first" data-nav-name="First slide">Slide 1</section>
{% endblock %}