---
title: First blog post
description: Some short description of this post
---
{% extends "reveal-post.njk" %}

{% block slides %}
  <section id="acid-1" data-nav-name="ACID" data-auto-animate>
    <h1>ACID</h1>
  </section>
  <section id="acid-2" data-nav-name="Unpack ACID" data-auto-animate>
    <h1>ACID</h1>
    <div style="text-align: left">
      <h2><span style="color: red">A</span>tomic</h2>
    </div>
    <div style="text-align: left">
      <h2><span style="color: red">C</span>onsistency</h2>
    </div>
    <div style="text-align: left; display: flex; align-items: center">
      <div><h2><span style="color: red">I</span>solation</h2></div>
    </div>
    <div style="text-align: left">
      <h2><span style="color: red">D</span>urability</h2>
    </div>
  </section>
  <section id="acid-3" data-nav-name="Focus on" data-auto-animate>
    <h1>ACID</h1>
    <div style="text-align: left">
      <h2><span style="color: red">A</span>tomic</h2>
    </div>
    <div style="text-align: left">
      <h2><span style="color: red">C</span>onsistency</h2>
    </div>
    <div style="text-align: left; display: flex; align-items: center">
      <div><h2><span style="color: red">I</span>solation</h2></div>
      <div style="margin-left: 10px"><span>&#8249;</span>  We will focus on this one</div>
    </div>
    <div style="text-align: left">
      <h2><span style="color: red">D</span>urability</h2>
    </div>
  </section>
{% endblock %}