---
title: First blog post
description: Some short description of this post
---
{% extends "reveal-post.njk" %}
{% block inlineStyle %}
  <style>
    section p {
      text-align: justify;
    }
  </style>
{% endblock %}

{% block slides %}
  <section>
    <section id="acid-1" data-nav-name="Intro">
      <p>
      Any Application that needs to save data to persistent storage interacts with some kind of database. And if this application 
      can be used by multiple users at the same time, anyone developing it hopes the database supports some kind of transactions.
    </p>
    <p>What would make most of the developers happy is an <strong>ACID</strong> compliant database.</p>
    </section>
    <section id="acid-2" data-nav-name="ACID">
      <p>
        <strong>ACID</strong> describes a set of promises that database will keep when performiang a transactional operations.
      </p>
      <p>
        They are:
      <ul>
        <li><span style="color: red">A</span>tomicity</l1>
        <li><span style="color: red">C</span>onsistency</l1>
        <li><span style="color: red">I</span>solation</l1>
        <li><span style="color: red">D</span>urability</l1>
      </ul>
      <p>
  </section>
</section>
{% endblock %}