* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-header {
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;

  padding: 0.8rem;
  border-bottom: 2px solid blueviolet;
}

header a {
  text-decoration: none;
  color: black;
}


@keyframes color-animation {
  0% { color: black; }
  50% { color: blueviolet; }
  100% { color: black; }
}

#name-link {
  font-weight: 700;
  font-size: x-large;
}
#name-link:hover {
  animation-name: color-animation;
  animation-duration: 4s;
}

#name-link span {
  color: blueviolet;
}

.header-nav {
  margin-right: 50px;
  display: flex;
  gap: 2rem;
  align-items: center;
}

main {
  flex: 1 0 auto;
  background-color: white;
}

#main-footer {
  flex-shrink: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 2px solid gainsboro;
}

#main-footer a {
  color: grey;
}

#main-footer .footer-nav {
  display: flex;
  gap: 1.5rem;
}