main {
  display: flex;
  flex-direction: column;
}

.page-content {
  width: 80vw;
  max-width: 50rem;
  padding: 1rem;
  align-self: center;
}

.page-content h1 {
  text-align: center;
  margin-bottom: 2rem;
}