---
title: First blog post!
---
{% extends "reveal-post.njk" %}

{% block slides %}
  <section id="first">Slide 1</section>
  <section id="second">Slide 2</section>
  <section id="another">another</section>
  <section id="antnext">and another one</section>
{% endblock %}