---
title: First blog post!
---
{% extends "reveal-post.njk" %}

{% block slidesNavigation %}{% endblock %}

{% block slides %}
  <section id="first">Slide 1</section>
  <section id="second">Slide 2</section>
{% endblock %}