---
title: First blog post!
---
{% extends "reveal-post.njk" %}

{% block slides %}
  <section id="first" data-nav-name="First slide">Slide 1</section>
  <section id="second" data-nav-name="Second slide">Slide 2</section>
  <section id="another" data-nav-name="Another one">another</section>
  <section id="antnext" data-nav-name="And yet another">and another one</section>
{% endblock %}