--- 
mainText: Check this posts 
---

{% extends "simple-page.njk" %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/css/posts-list.css">
{% endblock %}
{% block pageContent %}
  <ul>
    {% for post in collections.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}