---
layout: simple-page.njk
mainText: Check this posts
additionalStyles:
  - posts-list.css
---

<ul>
  {% for post in collections.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ul>